body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

section {
    float: left;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}

.content-box {
    position: relative;
    padding: 30px 10px 10px;
}

.section-title {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #6c757d;
    color: #fff;
    border: 1px solid black;
}

@media only screen and (max-width: 991px) {
    section {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    section {
        float: none;
        width: 100%;
    }
}
